<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="content" style="width:1300px; height:1500px; border:1px solid black;">

		<div class="head">
			<h4>알뜰쇼핑</h4>

			<ul class="list" style="list-style-type: none;">
				<li>
				<a class="on">전체보기</a>
				</li>
			</ul>
		</div>

	<div class="sort_menu">
		<div class="select_menu" style="float:right;">
			<a class="name_select::after">
				신상품순
			</a>
			<ul class="listt" style="list-style-type: none;">
				<li>
					<a>혜택순</a>
				</li>
				<li>
					<a>신상품순</a>
				</li>
				<li>
					<a>인기상품순</a>
				</li>
				<li>
					<a>낮은가격순</a>
				</li>
				<li>
					<a>높은가격순</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_good">
		<div class="list_goodss">
			<ul class="llist" style="list-style-type: none;">
				<li>
					<div class="item">

						<div class="item_in"
							style="width:25%;height:40%;
							border: 1px solid black;">
							<img src="/recources/static/resources/img/img1.png" width="315" height="525">
								<span class="pname"
								style="display: -webkit-box;
								-webkit-box-orient: vertical;">[우드앤브릭] 치아바타 2종</span>
								<span class="cost">
									<span class="dc" style="text-decoration: line-through;
															color: #ccc;">3,700원</span>
									<span>→</span>
								</span>
						</div>

						<div class="item_in"
							style="width:25%;height:40%;
							border: 1px solid black;">
							<img src="/recources/static/resources/img/img1.png" width="315" height="525">
						</div>

					</div>
				</li>
			</ul>
		</div>
	</div>


















	</div>

</body>
</html>